/home/mlei/workspace/dmdb2014/src/ch/ethz/inf/dbproject/database/MySQLConnection.java
/home/andi/workspace/dmdb2014/src/ch/ethz/inf/dbproject/database/MySQLConnection.java

#fucking class files
*.class
